<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/main.css" type="text/css" />
    <title>Admin:Member - #Include</title>
    <script>
        function yeardropdown() {
            let year = document.getElementsByClassName("year");
            let curyear = new Date().getFullYear();
            for (let i=curyear; i>=1970; i--) {
                year[0].insertAdjacentHTML("afterbegin", "<option value='"+i+"''>"+i+"</option>");
                year[1].insertAdjacentHTML("afterbegin", "<option value='"+i+"''>"+i+"</option>");
            }
        }

        // <div class="data memberdata">
        //     <b>2200000 김인클</b> <button type="button">수정</button><br>
        //     활동 시기 2022-1, 2022-2<br>
        //     1트랙 | 2트랙<br>
        //     참여 활동<br>
        //     - asdf<br>
        //     - asdf<br>
        //     - blahblah.<br>
        // </div>

        // function curmem() {
            
        // }
    </script>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="header-wrapper">
                <div id="header-btn-home" class="button">
                    <div id="header-title" OnClick="location.href ='/admin_main'">#Include - Admin</div>
                </div>
                    <div id="header-btn-gnb" class="button">
                    <img src="/public/img/menuico.png" style="height:30px;">
                </div>
            </div>
        </header>
        <div id="container">
            <div id="container-wrapper">
                <div id="page-header">
                    <h1 id="page-title">멤버 목록</h1>
                </div>
                <div id="post">
                    <div id="post-wrapper">
                        <form id="postform" method="post" action="/member/create">
                            <div id="post-header">
                                <div style="font-size: 1.17em;">멤버 추가</div>
                                <div class="buttonrow"><input type="submit" value="추가" style="float: right;"></div>
                            </div>
                            <div id="post-container">
                                <div id="post-ID">
                                    <div class="heading">*학번/이름</div>
                                    <div class="input">
                                        <div>
                                            <input type="text" name="studentID" placeholder="학번" maxlength="7" />
                                            &nbsp;
                                            <input type="text" name="name" placeholder="이름" />
                                        </div>
                                    </div>
                                </div>
                                <div id="post-season">
                                    <div class="heading">*활동 시기</div>
                                    <div class="input">
                                        <div>
                                            <div id="join">
                                                <select name="join-year" class="year" style="width:4rem">
                                                </select>
                                                년도&nbsp;
                                                <select name="join-semester" style="width:2.5rem">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                                학기
                                            </div>
                                            <div id="leave">
                                                &nbsp;~&nbsp;
                                                <select name="leave-year" class="year" style="width:4rem"></select>
                                                년도&nbsp;
                                                <select name="leave-month" style="width:2.5rem">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                                학기
                                            </div>
                                        </div>
                                        <div>
                                            <input type="checkbox" name="graduation" />졸업생
                                            &nbsp;
                                            <input type="checkbox" name="memberstatus" />활동중
                                        </div>
                                    </div>
                                </div>
                                <div id="post-track">
                                    <div class="heading">*트랙</div>
                                    <div class="input">
                                        <div>
                                            <input type="text" placeholder="1트랙" name="first_track" />
                                            &nbsp;
                                            <input type="text" placeholder="2트랙" name="second_track" />
                                        </div>
                                    </div>
                                </div>
                                <div id="post-github">
                                    <div class="heading">Github</div>
                                    <div class="input">
                                        <div>
                                            <input type="text" name="git_hub" placeholder="Github 주소" class="input" />
                                        </div>
                                    </div>
                                </div>
                                <div id="post-email">
                                    <div class="heading">이메일</div>
                                    <div class="input">
                                        <div>
                                            <input type="text" name="email" placeholder="email 주소" class="input" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="member-searchbox" class="flexend">
                    <div class="searchbox">
                        <input type="search" name="member-search" class="input">
                        <input type="submit" value="검색" class="input">
                    </div>
                </div>
                <div id="page-content">
                    <div id="dataarea-wrapper">
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            blahblah.
        </footer>
    </div>
    <script>
        yeardropdown();

        let memberdata = "";
        
        let dataarea = document.getElementById("dataarea-wrapper");
        for (let i=0;i<2;i++) {
            dataarea.insertAdjacentHTML("beforeend", '<div class="data memberdata"><b>2200000 김인클&nbsp;</b><button type="button">수정</button><br>활동 시기 2022-1, 2022-2<br>1트랙 | 2트랙<br>참여 활동<br></div>');
        }

    </script>
</body>
</html>