<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Admin:Main - #Include</title>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="header-wrapper">
                <div id="header-btn-home" class="button">
                    <div id="header-title" OnClick="location.href ='/admin_main'">#Include - Admin</div>
                </div>
                    <div id="header-btn-gnb" class="button">
                    <img src="/public/img/menuico.png" style="height:30px;">
                </div>
            </div>
        </header>
        <div id="container">
            <div id="container-wrapper">
                <div id="page-header">
                    <div id="page-title">관리자 페이지</div>
                </div>
                <div id="page-content">
                    <input type="button" value="동아리 활동기록" onClick="location.href='admin_archive'" />
                    <input type="button" value="멤버 목록" onClick="location.href='admin_member'"/>
                </div>
            </div>
        </div>
        <footer id="footer">
            blahblah.
        </footer>
    </div>
</body>
</html>