<div id="header-wrapper">
    <a id="header-title" href="/">
        <div id="header-btn-home" class="button">
            #Include
        </div>
    </a>
    <nav id="header-gnb">
        <ul>
            <li>
                <a href="/activity/list">활동 기록</a>
            </li>
            <li>
                <a href="/member/list">멤버 목록</a>
            </li>
        </ul>
    </nav>
</div>