<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/public/css/main.css?after" type="text/css"/>
    <title>#Include</title>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div id="header-wrapper">
                <div id="header-btn-home" class="button">
                    <div id="header-title" OnClick="location.href ='/'">#Include</div>
                </div>
                    <div id="header-btn-gnb" class="button">
                    <img src="/public/img/menuico.png" style="height:30px;">
                </div>
            </div>
        </header>
        <nav id="header-gnb">
            <div id="header-gnb-wrapper">
                <ul>
                    <div class="headergnbbox">
                        <div>MENU</div>
                    </div>
                    <a href="./else/archive.html">
                        <li>
                            <div class="headergnbbox">
                                <div>활동 기록</div>
                            </div>
                        </li>
                    </a>
                    <a href="./else/member.html">
                        <li>
                            <div class="headergnbbox">
                                <div>멤버 목록</div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </nav>
        <div class="navbar">
        <div id="container">
            <div id="container-wrapper">
                <div id="page-header">
                    <h1 id="page-title">동아리 소개</h1>
                </div>
                <div id="page-content">

                    <div class="dataarea-wrapper">
                        asdf.
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            blahblah.
        </footer>
    </div>
</body>
</html>