<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Admin:Archive - #Include</title>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <%- include ('../header.ejs') %>
        </header>
        <div id="container">
            <div id="container-wrapper">
                <div id="page-header">
                    <h1 id="page-title">활동 기록</h1>
                </div>
                <div id="post">
                    <div id="post-wrapper">
                        <form id="postform" action="/" method="post">
                            <div id="post-header">
                                <div style="font-size: 1.17em;">Post</div>
                                <div class="buttonrow"><input type="submit" value="추가" style="float: right;"></div>
                            </div>
                            <div id="post-container">
                                <div id="post-season">
                                    <div class="heading">활동 시기</div>
                                    <div class="input">
                                        <input type="month" name="month-start"/>
                                        &nbsp;~&nbsp;
                                        <input type="month" name="month-finish"/>
                                    </div>
                                </div>
                                <div id="post-title">
                                    <div class="heading">활동 이름</div>
                                    <input type="text" alt="제목" name="activity-title" class="input">
                                </div>
                                <div id="post-contents">
                                    <div class="heading">활동 내용</div>
                                    <textarea name="activity-details" placeholder="내용 입력" class="input"></textarea>
                                </div>
                                <div id="post-partmem">
                                    <div class="heading">참여 멤버</div>
                                    <input type="text" name="activity-partmem" class="input">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="page-content">
                    <div id="archive-dropdown" class="flexend">
                        <div class="dropdown-wrapper">
                            <div class="dropdown">
                                <select>
                                    <option>연도선택</option>
                                </select>
                            </div>
                            <div class="dropdown">
                                <select>
                                    <option>학기선택</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="dataarea-wrapper">
                        <div class="data archivedata">
                            archivedata1. <button type="button">수정</button><br>
                        </div>
                        <div class="data archivedata">
                            archivedata2. <button type="button">수정</button><br>
                        </div>
                        <div class="data archivedata">
                            archivedata3. <button type="button">수정</button><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <%- include ('../footer.ejs') %>
        </footer>
    </div>
</body>
</html>