<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/main.css" type="text/css" />
    <title>Admin:Login - #Include</title>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <%- include ('../header.ejs') %>
        </header>
        <div id="container">
            <div id="container-wrapper">
                <div id="page-header">
                    <h1 id="page-title">관리자 로그인</h1>
                </div>
                <div id="post" class="form">
                    <div id="post-wrapper">
                        <form id="postform" method="post" action="/login">
                            <div id="post-container">
                                <div id="post-ID">
                                    <div class="heading">ID</div>
                                    <div class="input">
                                        <div>
                                            <input name="id" type="text" placeholder="ID" />
                                        </div>
                                    </div>
                                </div>
                                <div id="post-PW">
                                    <div class="heading">PW</div>
                                    <div class="input">
                                        <div>
                                            <input name="pwd" type="password" placeholder="비밀번호" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttonrow">
                                <input type="submit" value="완료" style="float: right;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <%- include ('../footer.ejs') %>
        </footer>
    </div>
</body>
</html>